<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bank Details</title>
    <link rel="stylesheet" href="../static/output.css">
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->
</head>
<body class="bg-gradient-to-bl from-emerald-100 to-amber-200">
    
    <div class="min-h-screen flex flex-col justify-center items-center m-5 ">
        
        <div id="full-form" class="bg-slate-50 rounded-lg shadow-lg shadow-gray-900 lg:w-1/2">
            
            <div id="form" class="font-mono italic flex flex-col gap-2 p-10">

                <div class="flex flex-col gap-1 text-start not-italic">
                    <h1 class="text-lg sm:text-xl text-amber-600 underline font-serif">Instructions!</h1>
                    <p class="text-sm sm:text-md font-bold">
                        Thanks to the students for updating the bank details through mail while submitting the financial application.  We are finding difficulties to connect the details to the correct students. Hence we have developed a format which is sent through email and inform beneficiary those who have received through email.
                    </p>

                    <div class="flex flex-col items-end text-sm sm:text-md text-gray-950 mb-3">
                        <span class="font-bold">Thanks</span>
                        <p class="">Er KB Neelakantan</p>
                        <p class=" underline ">9840892220</p>
                        <p class="">Er SR Balasubramanian</p>
                        <p class=" underline">9629339454</p>
                        <p class="">Co Founders, SETN</p>
                    </div>
                </div>
                
                <div id="heading-div">
                    <h1 class="text-xl text-gray-900 font-bold  text-center sm:text-xl lg:text-2xl">Aadhar verify</h1>
                </div>

                <form method="post" action="/verify_aadhar" id="aadhar_verify_form" enctype="multipart/form-data" class="">
                    <div class="flex flex-col gap-0.5" id="account_holder_name-div">
                        <label for="aadhar_num">Aadhar Number</label>
                        <input required  type="text" name="aadhar_num" maxlength="12" id="aadhar_num" placeholder="123456789012" class="rounded-lg focus:ring-1 focus:ring-indigo-600  focus:shadow-gray-900 focus:shadow-md"
                        >
                        <small id="aadhar_num_error_msg" class="text-red-500 hidden"></small>
                    </div>
        
                    <div class="flex flex-col mt-3 sm:mt-4 sm:col-span-2">
                        <button class="bg-indigo-500 hover:bg-indigo-600 text-white rounded-lg px-14 py-3" type="submit" id="aadhar_verify_submit_button">Continue</button>
                    </div>

                    {% if verification_status %}
                        <h1 class="mt-2 text-lg sm:text-xl lg:text-2xl text-center font-bold text-green-600">{{message}}</h1>
                    {% endif %}


                    
                </form>
                {% if not verification_status %}
                    <div>
                        <h1 class="text-lg sm:text-xl lg:text-2xl text-center font-bold text-red-600 not-italic">{{message}}</h1>
                    </div>
                {% else%}

                <div id="heading-div">
                    <h1 class="text-xl text-gray-900 font-bold  text-center sm:text-xl lg:text-2xl mt-5 not-italic">Bank Details</h1>
                </div>

                <form method="post" action="/bank_details" id="bank_details_form" enctype="multipart/form-data" class="grid grid-cols-1 gap-2 sm:grid sm:grid-cols-2 sm:gap-3">

                    <div class="flex flex-col gap-0.5" id="account_holder_name-div">
                        <label for="name_as_in_passbook">Name as in Passbook</label>
                        <input required  type="text" name="name_as_in_passbook" id="name_as_in_passbook" placeholder="NAGARJUN RAMAKRISHNAN" class="rounded-lg focus:ring-1 focus:ring-indigo-600  focus:shadow-gray-900 focus:shadow-md">
                    </div>

                    <div class="flex flex-col gap-0.5" id="account_number-div">
                        <label for="account_number">Account Number</label>
                        <input required  type="text" name="account_number" id="account_number" placeholder="980989867527363" class="rounded-lg focus:ring-1 focus:ring-indigo-600  focus:shadow-gray-900 focus:shadow-md">
                    </div>

                    <div class="flex flex-col gap-0.5" aria-colcount="ifsc_code-div">
                        <label for="ifsc_code">IFSC Code</label>
                        <input required  type="text" name="ifsc_code" id="ifsc_code" placeholder="KUMBAKBOB" class="rounded-lg focus:ring-1 focus:ring-indigo-600  focus:shadow-gray-900 focus:shadow-md ">
                    </div>
                    
                    <div class="flex flex-col gap-0.5" id="bank_name-div">
                        <label for="bank_name">Bank Name</label>
                        <input required  type="text" name="bank_name" id="bank_name" placeholder="Bank of Baroda" class="rounded-lg focus:ring-1 focus:ring-indigo-600  focus:shadow-gray-900 focus:shadow-md ">
                    </div>
                    
                    <div class="flex flex-col gap-0.5" id="branch-div">
                        <label for="branch" class="text-md">Bank Branch</label>
                        <input required   type="text" name="branch" id="branch" placeholder="Kumbakonam" class="rounded-lg focus:ring-1 focus:ring-indigo-600  focus:shadow-gray-900 focus:shadow-md">
                    </div>

                    <div class="flex flex-col gap-0.5" id="upi_id-div">
                        <label for="upi_id">UPI Id<small>(optional)</small></label>
                        <input type="text" name="upi_id" id="upi_id" placeholder="arjun@bob" class="rounded-lg focus:ring-1 focus:ring-indigo-600  focus:shadow-gray-900 focus:shadow-md">
                    </div>
                    
                    <div class="flex flex-col gap-0.5" id="account_number-div">
                        <label for="account_number">Account Holder</label>
                        <select name="account_holder" id="" class="rounded-lg  focus:ring-1 focus:ring-indigo-600  focus:shadow-gray-900 focus:shadow-md">
                            <option value="Self">Self</option>
                            <option value="Father">Father</option>
                            <option value="Mother">Mother</option>
                            <option value="Guardian">Guardian</option>
                        </select>
                    </div>
        

                    <div class="flex flex-col gap-0.5" id="phone_number-div">
                        <label for="linked_phone_num">Phone Number<span class="text-xs">(linked)</span></label>
                        <input required maxlength="10"  type="text" name="linked_phone_num" id="phone_number" placeholder="9876543210" class="rounded-lg focus:ring-1 focus:ring-indigo-600  focus:shadow-gray-900 focus:shadow-md">
                        <small id="phone_num_error_msg" class="text-red-500 hidden"></small>
                    </div>
 

        
                    <div class="flex flex-col gap-0.5" id="upi_id-div">
                        <label for="email_id">Email Id</label>
                        <input required  type="text" name="email_id" id="email_id" placeholder="arjun@gmail.com" class="rounded-lg focus:ring-1 focus:ring-indigo-600  focus:shadow-gray-900 focus:shadow-md">
                    </div>
                  
                    <input  type="text" value="{{entered_aadhar_num}}" name="aadhar_num" maxlength="12" id="aadhar_num" placeholder="" class=" rounded-lg focus:ring-1 focus:ring-indigo-600  focus:shadow-gray-900 focus:shadow-md hidden">
                     <!-- <input  type="text" value="{{id}}" name="id"  id="id" placeholder="" class=" rounded-lg focus:ring-1 focus:ring-indigo-600  focus:shadow-gray-900 focus:shadow-md hidden"> -->
                     

                    <div class="flex flex-col mt-3 sm:mt-4 sm:col-span-2">
                        <button class="bg-indigo-500 hover:bg-indigo-600 text-white rounded-lg px-14 py-3" type="submit">Submit</button>
                    </div>
                
                </form>

                {% endif %}
                
                

            </div>
        </div> 
            {% if not verification_status %}
                <div class="flex flex-col gap-1 text-lg font-mono mt-10">
                    <a href="/verify_admin" class="p-2 rounded-xl rounded-lg  text-white  bg-indigo-500">Admin view</a>
                </div>
            {% endif %}
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            
            const aadharVerifyForm = document.getElementById("aadhar_verify_form");
            const bankDetailForm = document.getElementById("bank_details_form");
            
            const aadharField  = document.getElementById("aadhar_num");
            const phoneNumberField = document.getElementById("phone_number");
            
            const phoneNumberErrorMsgField = document.getElementById("phone_num_error_msg");
            const aadharNumErrorMsgField = document.getElementById("aadhar_num_error_msg");
            
            const phoneNumberRegEx = /^[6-9]\d{9}$/; // Example for 10-digit Indian phone numbers starting with 6-9
            const aadharNumberRegex = /^\d{12}$/;

            const aadharVerifySubmitButton = document.getElementById("aadhar_verify_submit_button");
            //value from jinja
            const enteredAadharNum = "{{entered_aadhar_num | default('')}}";
            const verificationStatus = {{verification_status | lower}};

            
            if (enteredAadharNum){
                aadharField.value = enteredAadharNum;
                if (verificationStatus){
                    aadharField.disabled = true;
                    aadharVerifySubmitButton.disabled = true;
                }
            }

            bankDetailForm.addEventListener("submit", (event) => {
                if (!phoneNumberRegEx.test(phoneNumberField.value.trim())){
                    event.preventDefault();
                    phoneNumberField.focus();
                }

               });

            phoneNumberField.addEventListener("input", () => {
                if (!phoneNumberRegEx.test(phoneNumberField.value.trim())){
                    phoneNumberErrorMsgField.textContent = "Enter valid mobile number.";
                    phoneNumberErrorMsgField.classList.remove("hidden");
                }
                else{
                    // clear the error message.
                    phoneNumberErrorMsgField.textContent = "";
                    phoneNumberErrorMsgField.classList.add("hidden");
                }
            });

            
        });

    </script>
 
</body>
</html>
