<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{message_type}}</title>
    <link rel="stylesheet" href="../static/output.css">
</head>
<body class="bg-gradient-to-bl from-emerald-100 to-amber-200 font-mono">
    
    <div class="min-h-screen flex justify-center items-center">
        <h1 class="text-lg lg:text-2xl text-gray-950 font-bold text-center">{{ message }}</h1>
    </div>


</body>
</html>

